{% extends layout_path %}

{% load i18n %}

{% block title %}Dashboard RH{% endblock title %}

{% block content %}
<meta charset="UTF-8">
<h4 class="py-4 mb-6">Acompanhamentos</h4>

<div class="col-xxl">
  <div class="card mb-6">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="mb-0">Curriculos</h5>
      <small class="text-muted float-end">Visualização geral</small>
    </div>
    <div class="card-body">
      <canvas id="curriculoChart" width="400" height="200"></canvas>
      <a href="{% url 'export_to_xlsx' %}" class="btn btn-primary mt-4">Exportar para Excel</a>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('curriculoChart').getContext('2d');
    var curriculoChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Cadastrados', 'Aprovados', 'Reprovados', 'Vaga Futura', 'Entrevistados', 'Aguardando Entrevista'],
            datasets: [{
                label: 'Quantidade de Currículos',
                data: [
                    {{ total_cadastrados }},
                    {{ total_aprovados }},
                    {{ total_reprovados }},
                    {{ total_vaga_futura }},
                    {{ total_entrevistados }},
                    {{ total_aguardando_entrevista }}
                ],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 205, 86, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    grid: {
                        display: false // Remove a grade do eixo Y
                    }
                },
                x: {
                    grid: {
                        display: false // Remove a grade do eixo X
                    }
                }
            },
            plugins: {
                legend: {
                    display: true,
                    labels: {
                        color: 'rgb(255, 99, 132)'
                    }
                }
            }
        }
    });
</script>
{% endblock %}
